/* 
	Author: Donal Killian
	Date: 04/21/2024
	File Name: styles.css
*/

/*This will access and set rules to any elements in the body*/
body {
	/*Sets background color*/
	background-color: lightblue;
	
	/*Sets the amount of space around block element, the margin, on all sides*/
	margin: 2em;
	/*	Or	*/
	/*margin: 2em 2em 2em 2em;*/
	
	/*Sets the amount of space between content and the border of its block element*/
	/*padding: 5em;*/
	
	/*Sets the format of the block element's border*/
	border: solid 1em blue;
}

/*Sets the style for anything in the div where id = "container"*/
#container {	
	padding: 2em;
	background-color: blue;
}
nav{
	font-size: 20;
}
#header {
	background-color: blue;
}
#head {
	background-color: blue;
}

/*Sets Style for elements in <nav>*/
nav {
	/*Sets the font*/
	font-family: arial;
	text-align: center;
	background-color: grey;
}
/*Sets style for all elements in main*/
main {
	font-size: 1.5em;
}
/*Sets style for all h1*/
h1 {
	/*aligns text on webpage */
	text-align: center;
}
/*Sets Style for h2 in main*/
main h2 {
	text-align: center;
}

/* Style rules for form element*/
fieldset input text-area {
	margin-bottom: 2%;
}
fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}
label {
	display: block;
	padding-top: 2%;
}
#submit {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 2%;
	background-color: #78593a;
	color: #f6eee4;
	font-size: 1.25em;
	border-radius: 10px;
}

/* Style rules for image gallary*/
#column {
	position: relative;
	float: left;
	width: 33.3%;
	padding: 5px;
}

#row: {
	content: "";
	position: relative;
	clear: both;
	display: table;
}
#row a : hover {
		display: block;
		background: #c93;
}

figure {
	position :relative;
	text-align: center;
	width: 33.3%;
}

/*Style rules for table*/
/* Style rules for table*/
table {
	border: 1px solid #2a1f14;
	text-align: center;
}
table caption {
	font-size: 1.5em;
	font-weight: bold;
	padding: 1%;
}
table th td {
	border: 5px solid #2a1f14;
	padding: 1%;
	background-color: grey
}
table th {
	background-color: 2a1f14;
	color: Black;
	font-size: 1.15em;
}
table tr:nth-child(odd) {
	background-color: #deccba
}

/*Styles for video*/
video {
	size: 500px 500px;
}
/* Style rules for the footer*/
footer {
	background-color: blue;
	text-bottom: white;
}